<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender for logging -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger configuration -->
    <logger name="org.springframework.web" level="DEBUG" />
    <logger name="org.springframework.cloud.gateway" level="DEBUG" />

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
